// colors
$background-color: rgb(215, 226, 229);
$main-dark-color: rgb(0, 0, 0);
$transparent-dark-color: rgb(0, 0, 0, 0.85);
$main-light-color: rgb(255, 255, 255);
$main-contrast-color: rgb(155, 21, 4);
$secondary-dark-color: rgb(97, 115, 122);
$secondary-light-color: rgb(204, 204, 202);

// font-related variables
$font-family: 'Roboto Mono', monospace;
$font-light: 200;
$font-normal: 300;
$font-bold: 400;
$font-big: 4rem;
$font-medium: 2rem;
$font-small: 1rem;
$font-footer: 0.8rem;
$font-supersmall: 0.75rem;

// breakpoints 
$landscape-mode-breakpoint: 560px;
$tablet-breakpoint: 760px;
$laptop-breakpoint: 992px;





